:root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big {
    font-size: 3em;
    line-height: 1.8;
    word-spacing: 0.25em;
    
    width: 20em;
}

.small {
    font-size: 1em;
    line-height: 1.8;
    word-spacing: 0.25em;
    
    width: 20em;
}
