$svg-check: url('img/check.svg');
$svg-cross: url('img/cross.svg');

$highlighter-highlight-color-border: #000;
$highlighter-highlight-color-background: #FFF;
$highlighter-highlight-color-highlighted: #FF0;
$highlighter-highlight-color-correct: #0c0;
$highlighter-highlight-color-incorrect: #F00;

$highlighter-highlight-margin: -0.2em;

.highlighter {
    position: relative;
    
    .word {        
        box-sizing: border-box;
        display: inline-block;
        position: relative;
    }
    
    .word:before,
    .word:after {
        content: '';
        
        margin: $highlighter-highlight-margin;
        box-sizing: border-box;
        
        top: 0.3em; bottom: 0.3em;
        right: 0; left: 0;
        position: absolute;
    }
    
    .word:before {
        z-index: -2;
    }
    .word:after {
        padding: 0.05em;
        
        outline-color: $highlighter-highlight-color-border;
        
        z-index: 2;
    }
    
    .word:hover:before {
        background-color: $highlighter-highlight-color-background;
        z-index: -1;
    }
    .word:hover:after {
        padding: 0;
        outline-width: 0.06em;
        outline-style: solid;
        z-index: 3;
    }
    
    .word.highlighted:before {
        background-color: $highlighter-highlight-color-highlighted;
        border-bottom-style: solid;
        border-bottom-width: 0.2em;
    }
    
    .word.correct:before {
        border-bottom-style: solid;
        border-bottom-width: 0.35em;
        border-bottom-color: $highlighter-highlight-color-correct;
    }
    .word.correct:after {
        background-size: 0.6em;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-image: $svg-check;
    }
    .word.correct:hover:after {
        background-position: 100% 100%;
    }
    
    .word.incorrect:before {        
        border-bottom-style: solid;
        border-bottom-width: 0.2em;
        border-bottom-color: $highlighter-highlight-color-incorrect;
        
        background-size: 0.3em;
        background-position: 50% 100%;
        background-repeat: repeat-x;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="20"><rect x="-1" y="-1" width="36" height="22" fill="none"/><path stroke="null" d="m26.9 26.9l-19.6-16.4 19.6-16.4 0 32.9" fill="red" transform="rotate(90 17,10) "/></svg>');
    }
    .word.incorrect:after {
        background-size: 0.6em;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-image: $svg-cross;
    }
    .word.incorrect:hover:after {
        background-position: 100% 100%;
    }
}
